.garden-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include absolute-center;
  
  h1 {
    color: white;
    font-weight: 700;
    padding: 10rem 0;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  }
}
